<mat-card>
  <mat-card-content>
    <cdk-virtual-scroll-viewport
      itemSize="80"
      class="container"
      (scrolledIndexChange)="nextBatch($event)"
    >
      <table class="table borderless">
        <thead>
          <tr class="light">
            <th>Id</th>
            <th>Type</th>
            <th>Sender</th>
            <th>Volume</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody>
          <tr *cdkVirtualFor="let stat of stats; let i = index" class="number">
            <td>{{ stat.row_id }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-dark btn-round received"
              >
                {{ stat.type }}
              </button>
            </td>
            <td>
              <span class="text-muted">{{ stat.sender }} USD</span>
            </td>
            <td>
              {{ stat.volume }}
            </td>
            <td>{{ stat.time | date }}</td>
          </tr>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
